@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  font-weight: normal;
  font-family: 'Roboto';
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  display: flex;
  place-items: center;
}

@media (min-width: 1024px) {

  #app {
    padding: 0 2rem;
  }
}


.v-field__outline__start {
  border-radius: 4px 0 0 4px;
}
.v-field__outline__end {
  border-radius: 0px 4px 4px 0px;
}